/*global*/
*{
    margin: 1%;
    padding: 1%;
}
body{
    font-family: arial;
}
P{
    line-height: 2;
}
img{
    max-width: 100%;
}
.init-header{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 500%;
    color: white;
    text-align: center;
}
/*utilities*/

/*header*/

/*main/

